<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- uploaded photo gallery -->
  <ion-grid >
    <ion-row>
      <ion-col size="2" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid >
    <ion-row>
      <ion-col size="12" *ngFor="let message of photoService.messages; index as position">
        {{message.date |date : "HH:mm" }} {{message.content}}
      </ion-col>
    </ion-row>
  </ion-grid>
 
  <!-- text input & camera button -->
  <ion-fab class="textToolbar flex ion-justify-content-around ion-align-items-center" vertical="bottom" horizontal="end" slot="fixed">
    <ion-item class="textInput">
      <ion-textarea id="textarea" inputmode="text" label="New message" labelPlacement="floating" placeholder="Type something here"
       (keypress)="addNewMsg($event)" enterkeyhint="send" autofocus="true" autoGrow="true"></ion-textarea>
    </ion-item>
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
